<div class=" card" id="projects">
    <div class="card-body">
        <div class="card-title">

            <div class="section-title d-flex">
                <div class="d-block mb-3">
                    <h2>Proyectos</h2>
                </div>
            </div>

            <div class="btn-edit">
                <a class="btn-right">
                    <app-btn-add (btnClick)="openAddModal()"></app-btn-add>
                </a>
            </div>
        </div>

        <div class="my-3 ms-md-5" *ngFor="let project of projectsList">

            <div class="d-flex pt-4">
                <a class="text-decoration-none flex-grow-1" [href]="project.projectUrl" target="_blank">
                    <h3>{{project.title}}</h3>
                </a>

                <div class="btn-edit flex-shrink-0 text-end p-0">
                    <a class="btn-right p-1">
                        <app-btn-edit (btnClick)="openEditModal(project)"></app-btn-edit>
                    </a>
                    <a class="btn-right p-1">
                        <app-btn-delete (btnClick)="deleteProject(project)"></app-btn-delete>
                    </a>
                </div>

            </div>

            <p class="card-text my-2">{{project.description}}</p>

            <p class="card-tex mt-3 mb-1">{{project.date}}</p>

            <a class="mb-1" [href]="project.projectUrl" target="_blank">
                <img class="project-img mx-auto d-block mt-3 ms-md-5 rounded" [src]="project.img"
                    alt="Imagen del Portfolio">
            </a>

        </div>
    </div>
</div>