<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Editar experiencia</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editExpForm" (ngSubmit)="updateExpData(editExpForm.value); activeModal.close()">
            <div class="mb-3">
                <label for="edit-experience-title" class="form-label">Título</label>
                <input type="text" class="form-control form-control-sm" id="edit-experience-title"
                    placeholder="Ingrese el título." formControlName="title" required minlength="1" maxlength="50"
                    [class.is-invalid]="title.invalid && (title.dirty || title.touched)">
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="invalid-feedback">
                    <div *ngIf="title.errors?.['required']">
                        El título es requerido (mínimo 1 caracter y máximo 50 caracteres).
                    </div>
                    <div *ngIf="title.errors?.['minlength']">
                        El título debe tener almenos 1 caracter.
                    </div>
                    <div *ngIf="title.errors?.['maxlength']">
                        El título debe tener como máximo 50 caracteres.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="edit-experience-description" class="form-label">Descripción</label>
                <textarea class="form-control form-control-sm" id="edit-experience-description"
                    placeholder="Ingrese la descripción." formControlName="description" required minlength="1"
                    maxlength="1000"
                    [class.is-invalid]="description.invalid && (description.dirty || description.touched)"></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                    <div *ngIf="description.errors?.['required']">
                        La descripción es requerida (mínimo 1 caracter y máximo 1000 caracteres).
                    </div>
                    <div *ngIf="description.errors?.['minlength']">
                        La descripción debe tener almenos 1 caracter.
                    </div>
                    <div *ngIf="description.errors?.['maxlength']">
                        La descripción debe tener como máximo 1000 caracteres.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="edit-experience-date" class="form-label">Fecha</label>
                <input type="text" class="form-control form-control-sm" id="edit-experience-date"
                    placeholder="Ingrese la fecha." formControlName="date" required minlength="1" maxlength="50"
                    [class.is-invalid]="date.invalid && (date.dirty || date.touched)">
                <div *ngIf="date.invalid && (date.dirty || date.touched)" class="invalid-feedback">
                    <div *ngIf="date.errors?.['required']">
                        La fecha es requerida (mínimo 1 caracter y máximo 50 caracteres).
                    </div>
                    <div *ngIf="date.errors?.['minlength']">
                        La fecha debe tener almenos 1 caracter.
                    </div>
                    <div *ngIf="date.errors?.['maxlength']">
                        La fecha debe tener como máximo 50 caracteres.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="edit-experience-img" class="form-label">Enlace a imagen</label>
                <input type="text" class="form-control form-control-sm" id="edit-experience-img"
                    placeholder="Ingrese el enlace a la imagen." formControlName="img" required minlength="1"
                    maxlength="1000" [class.is-invalid]="img.invalid && (img.dirty || img.touched)">
                <div *ngIf="img.invalid && (img.dirty || img.touched)" class="invalid-feedback">
                    <div *ngIf="img.errors?.['required']">
                        El enlace a la imagen es requerido (mínimo 1 caracter y máximo 1000 caracteres).
                    </div>
                    <div *ngIf="img.errors?.['minlength']">
                        El enlace a la imagen debe tener almenos 1 caracter.
                    </div>
                    <div *ngIf="img.errors?.['maxlength']">
                        El enlace a la imagen debe tener como máximo 1000 caracteres.
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cerrar</button>
                <button type="submit" class="btn btn-primary" [disabled]="!editExpForm.valid">Aplicar cambios</button>
            </div>
        </form>
    </div>
</div>