<div class="card" id="edu">
    <div class="card-body">
        <div class="card-title">

            <div class="section-title d-flex">
                <div class="d-block mb-3">
                    <h2>Educación</h2>
                </div>
            </div>

            <div class="btn-edit">
                <a class="btn-right">
                    <app-btn-add (btnClick)="openAddModal()"></app-btn-add>
                </a>
            </div>
        </div>

        <div class="d-lg-flex my-5" *ngFor="let education of educationList">

            <div class="flex-shrink-0 text-center ms-md-3">
                <img class="logo-institution mb-3" [src]="education.img" alt="Logo">
            </div>

            <div class="container-fluid ms-3">

                <div class="d-flex">
                    <h4 class="flex-grow-1">{{education.title}}</h4>
                    <div class="btn-edit flex-shrink-0 p-0">
                        <a class=" btn-right p-1">
                            <app-btn-edit (btnClick)="openEditModal(education)">
                            </app-btn-edit>
                        </a>
                        <a class="btn-right p-1">
                            <app-btn-delete (btnClick)="deleteEduData(education)"></app-btn-delete>
                        </a>
                    </div>
                </div>

                <p class="card-text mt-3 mb-1">{{education.description}}</p>

                <p class="date-text card-text mt-3 mb-1">{{education.date}}</p>

            </div>

        </div>
    </div>
</div>