<div class="card" id="profile" *ngFor="let info of profileInfo">

    <img class="cover" [src]="info.cover" alt="p">

    <div class="card-body">
        <img class="profile-pic" [src]="info.pic" alt="...">

        <div class="text-end">
            <div class="btn-edit">
                <app-btn-edit (btnClick)="openEditModal(info)"></app-btn-edit>
            </div>
        </div>
    </div>

    <div class="card-body d-md-flex">
        <div class="flex-shrink-0 mb-3">
            <div class="card-title">
                <h2>{{info.name}}</h2>
            </div>
            <p class="card-text profession-text mt-3 mb-1">{{info.profession}}</p>
            <p class="location-text card-text mt-3 mb-1">{{info.location}}</p>
        </div>

        <div class="flex-grow-1 m-1 ms-md-5">
            <p class="card-text">{{info.about}}</p>
        </div>
    </div>

</div>