<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ml-auto">

        <div class="container-fluid">
            <img class="ap-logo" src="./assets/images/arg-programa-logo-white.png" alt="Argentina Programa Logo">
            <a class="navbar-brand">#YoProgramo</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarToggler">

                <ul class="navbar-nav list-unstyled flex-row justify-content-evenly m-2">
                    <li><a href="#" class="nav-link">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                    </li>
                    <li><a href="#" class="nav-link">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                    </li>
                    <li><a href="#" class="nav-link">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                    </li>
                    <li><button class="btn btn-outline-success" id="btn-login" type="button" onclick="login()">Iniciar
                            sesión</button>
                    </li>
                </ul>

            </div>
        </div>

    </nav>
</header>