<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Agregar habilidad</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addSkillForm" (ngSubmit)="addSkillData(addSkillForm.value); activeModal.close()">
            <div class="mb-3">
                <label for="add-skill-name" class="form-label">Nombre de la habilidad</label>
                <input type="text" class="form-control form-control-sm" id="add-skill-name"
                    placeholder="Ingrese el nombre de la habilidad." formControlName="name" required minlength="1"
                    maxlength="50" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                    <div *ngIf="name.errors?.['required']">
                        El nombre es requerido (mínimo 1 caracter y máximo 50 caracteres).
                    </div>
                    <div *ngIf="name.errors?.['minlength']">
                        El nombre debe tener almenos 1 caracter.
                    </div>
                    <div *ngIf="name.errors?.['maxlength']">
                        El nombre debe tener como máximo 50 caracteres.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="add-skill-percentage" class="form-label">Porcentaje de dominio</label>
                <textarea class="form-control form-control-sm" id="add-skill-percentage"
                    placeholder="Ingrese el porcentaje de dominio de la habilidad." formControlName="percentage"
                    required minlength="1" maxlength="10"
                    [class.is-invalid]="percentage.invalid && (percentage.dirty || percentage.touched)"></textarea>
                <div *ngIf="percentage.invalid && (percentage.dirty || percentage.touched)" class="invalid-feedback">
                    <div *ngIf="percentage.errors?.['required']">
                        El porcentaje es requerido (mínimo 1 caracter y máximo 10 caracteres).
                    </div>
                    <div *ngIf="percentage.errors?.['minlength']">
                        El porcentaje debe tener almenos 1 caracter.
                    </div>
                    <div *ngIf="percentage.errors?.['maxlength']">
                        El porcentaje debe tener como máximo 10 caracteres.
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cerrar</button>
                <button type="submit" class="btn btn-primary" [disabled]="!addSkillForm.valid">Aplicar cambios</button>
            </div>
        </form>
    </div>
</div>